
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<!-- morris chart -->
<link rel="stylesheet" type="text/css" href="~/Templates/assets/css/morris.js/css/morris.css">

<link rel="stylesheet" type="text/css" href="~/Templates/material_able-main/assets/css/font-awesome-n.min.css">

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">
                <div class="row">
                    <!-- Material statustic card start -->

                    @Html.Action("DashboardSol", "Dashboard")


                    @Html.Action("DashboardOrta", "Dashboard")




                    @Html.Action("DashboardSağ", "Dashboard")


                    <!-- Material statustic card end -->
                    <!-- order-visitor start -->
                    <!-- order-visitor end -->
                    <!--  sale analytics start -->
                    @Html.Action("DashboardOgretmenlerimiz", "Dashboard")

                    <div class="col-xl-6 col-md-12">
                        <div class="row">
                            <!-- sale card start -->

                            @Html.Action("DashboardSosyalMedya", "Dashboard")

                            <!-- sale card end -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- Page-body end -->
        </div>
        <div id="styleSelector"> </div>
    </div>
</div>



@Html.Action("DashboardKontenjan", "Dashboard")



