
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")



<body>

    @Html.Action("PartialNavbar", "Default")
    <!-- Header Start -->
    @Html.Action("ContactHeaderPartial", "Contact")
    <!-- Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5">
                    <span class="px-2">Get In Touch</span>
                </p>
                <h1 class="mb-4">Contact Us For Any Query</h1>
            </div>
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Your Name"
                                       required="required"
                                       data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       placeholder="Your Email"
                                       required="required"
                                       data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text"
                                       class="form-control"
                                       id="subject"
                                       placeholder="Subject"
                                       required="required"
                                       data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control"
                                          rows="6"
                                          id="message"
                                          placeholder="Message"
                                          required="required"
                                          data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary py-2 px-4"
                                        type="submit"
                                        id="sendMessageButton">
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                @Html.Action("ContactAddressPartial", "Contact")
            </div>
        </div>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48141.37834473687!2d28.86001442489763!3d41.0507121639375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba81ed5c68f9%3A0xfbbec749f5fd7e0c!2zQmF5cmFtcGHFn2EvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1714687416372!5m2!1str!2str" width="2100" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- Contact End -->
    @Html.Action("PartialFooter", "Default")


    @Html.Action("PartialScripts", "Default")
</body>
</html>



