@model KidKinderYeni.Entities.Notification
@{
    ViewBag.Title = "UpdateGelenMesaj";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}




<div class="pcoded-inner-content">

    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header">
                                <h5> Mesaj Bilgisi  Güncelleme Alanı</h5>
                                <span>Mesaj Bilgilerini Eksiksiz Doldurunuz </span>
                            </div>
                            <div class="card-block">
                                <form method="post">


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">İsim Soyisim</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(x => x.NotificationId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Başlık</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Görsel</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Mesaj Atılma Tarihi</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.NotificationDate, new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Açıklama</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                                        </div>
                                    </div>




                                    <button class="btn btn-primary">Sınıf Bilgilierini Güncelle</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

